.cursor {
  position: fixed;
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 9999;
  user-select: none;
  pointer-events: none;
  transform: translate(-50%, -500%); /* Adicionado para centralizar no mouse */
}

@keyframes trail {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* .cursor::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7), 0px 0px 20px 0px rgba(255, 255, 255, 0.4), 0px 0px 30px 0px rgba(255, 255, 255, 0.2);
  animation: trail 2s linear infinite;
  z-index: -1;
} */
